body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
}

.sidebar {
  width: 200px;
  background: #111827;
  padding: 20px;
}

.main {
  flex: 1;
  padding: 20px;
}

#chatBox {
  height: 70vh;
  overflow-y: auto;
}

.input-area {
  display: flex;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  background: cyan;
  border: none;
}
